/* Your CSS goes here */
body {
    background-color: ;
}

h1 {
    color: navy;
}

p.round {
    border: 2px solid black;
    border-radius: 5px;
}



input {
    background-color: #f6d155;

}


.important {
    font-weight: bold;

}

