{% extends 'base.html' %}

{% block title %}Making dreams come true.{% endblock %}

{% block content %}

<!-- using the simple landing page from hb excersise shopping site with modifications -->

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="http://icanbecreative.com/resources/files/articles/40-high-resolution-wallpapers-for-minimalist-lovers/sources/everest-minimalist-wallpaper-blue.pngQ">

        <h1>Join us today.</h1>

        <p class="lead">Promises everywhere.</p>

        <a href="/application-form" class="btn btn-lg btn-primary">Apply today.</a>

    </div>
</div>

{% endblock %}

